{% extends 'base.html' %}
{% load i18n %}

{% load quiz_tags %}

{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}
<h2>{% trans "List of Quiz Rounds Available:" %}</h2>
    {% if quiz_list %}
		<table class="table table-bordered table-striped">

		  <thead>
			<tr>
			  <th>{% trans "Title" %}</th>
			  <th>{% trans "Category" %}</th>
			  
			  
			  <th>Score / Start</th>

			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quiz_list %}

  			<tr>
			  <td>{{ quiz.title }}</td>
			  <td>{{ quiz.category }}</td>

				{% if scores_dict|get_item:forloop.counter is None %}
				  	<td>
					<a href="{% url 'quiz_start_page' slug=quiz.url %}" class="btn btn-primary btn-sm">
				  	Start {{ quiz.title }}</a>
					</td>
				{% else %}
					<td>{{ scores_dict|get_item:forloop.counter }}</td>
				{% endif %}
			</tr>

        {% endfor %}
		  </tbody>

		</table>

	{% else %}
        <p>No rounds are available at the moment.</p>
	{% endif %}
	{% if not user.is_authenticated %}
	<p>You should <a href="{% url 'account_signup' %}">sign up</a> or <a href="{% url 'account_login' %}">sign in!</a></p>
	{% endif %}
{% endblock %}
